<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/solution.css" />
    <!-- endinject -->
</head>
<body>
<!--/* main content */-->
<div class="content container-fluid">
    <div class="bs-component">
        <div class="tab-wrapper">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#profile1" data-toggle="tab">电商支付</a></li>
                <li><a href="#profile2" data-toggle="tab">交易市场</a></li>
                <li><a href="#profile3" data-toggle="tab">航空商旅</a></li>
                <li><a href="#profile4" data-toggle="tab">P2P资金托管</a></li>
                <li><a href="#profile5" data-toggle="tab">数娱行业</a></li>
            </ul>
        </div>
        <div id="tabContent" class="tab-content">
            <div class="tab-pane fade active in" id="profile1">
                <div class="desc">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="tab-logo lg1"></div>
                        </div>
                        <div class="col-md-10">
                            <p class="title">电商支付</p>
                            <p>现如今电商行业日益壮大，对提供连接全国各大商业银行的支付通道，无缝集成及快速电子化要求急剧增加，而银行接入成本高，现金风险大，结算周期长，退款较慢，缺乏诚信机制，营销推广成本高等问题。 Mo宝支付经过不断的完善和发展，针对网上销售行业提供在线收付收款、交易管理、财务对账单、结算及提现等专业的在线支付解决方案。</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hidden-sm introduce-slide">
                            <div id="carousel" class="carousel slide">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel" data-slide-to="1"></li>
                                </ol>
                                <!--/* Wrapper for Slides */-->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img class="slide-bg-1-1" />
                                        <div class="carousel-caption">
                                            <p class="title blue">一、资金安全有保障</p>
                                            <p>专业财务资金管理，支付安全、方便、快捷。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img class="slide-bg-1-1" />
                                        <div class="carousel-caption">
                                            <p class="title blue">二、安全快捷的支付方式</p>
                                            <p>专业财务资金管理，支付安全、方便、快捷。</p>
                                        </div>
                                    </div>
                                </div>
                                <!--/* Controls */-->
                                <a class="left carousel-control" href="#carousel" data-slide="prev">
                                    <span class="icon-prev"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel" data-slide="next">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title blue">解决方案</p>
                        </div>
                    </div>
                    <!--/* row1 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num1"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">多种支付方式支持</p>
                            <p>提供个人网上银行、快捷支付、Mo宝账户、手机支付、蓝牙pos等多种支付方式，用户支付便捷，付款实时到账。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num2"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">覆盖80%银行卡用户</p>
                            <p>覆盖80%银行卡用户，持卡用户可以使用国内多家银行的网上银行实现在线付款和对Mo宝账户进行充值。</p>
                        </div>
                    </div>
                    <!--/* row2 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num3"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">降低接入银行成本</p>
                            <p>合作商家无需与多家银行一一接入，为商家缩减了系统开发和维护的成本，无需任何计算机及网络硬件和人力成本投入，在线即可轻松实现收付款。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num4"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">支付网关轻松接入</p>
                            <p>Mo宝支付提供标准的接入说明文档，提供多种网络程序语言接入样例，接入更方便快捷。</p>
                        </div>
                    </div>
                    <!--/* row3 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num5"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">交易订单管理方便</p>
                            <p>交易订单实时管理，实时查询订单状态和退款情况，功能强大，操作管理方便。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num6"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">解决资金结算及对账问题</p>
                            <p>Mo宝支付提供交易款快速结算，有效提高资金周转速度，提供专业对账单，支持财务人员对账。</p>
                        </div>
                    </div>
                    <!--/* row4 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num7"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">解决付款实时到账问题</p>
                            <p>传统付款方式用户付款有时不能及时到账，或到账后也无法及时获知，用户通过Mo宝账户支付，实时到达商家账户。</p>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile2">
                <div class="desc">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="tab-logo lg2"></div>
                        </div>
                        <div class="col-md-10">
                            <p class="title">手机银行支付</p>
                            <p>手机银行支付是指用户用手机登录商户WAP网站，下单后通过WAP方式跳转到银行的手机银行完成支付的过程。</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title blue">产品特点</p>
                        </div>
                    </div>
                    <!--/* row1 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num1"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">随时随地支付</p>
                            <p>由于手机的便捷性，用可随时随地的使用手机进行Wap支付服务，手机Wap购物、Wap缴费、移动付费等个性化消费理财服务。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num2"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">巨大潜在客户群</p>
                            <p>随着手机的普及和智能手机的日新月异的发展和运营商的网络优化提速，未来必将是手机用户的天下。</p>
                        </div>
                    </div>
                    <!--/* row2 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num3"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">未来消费发展趋势</p>
                            <p>随着网络和手机技术的发展，手机WAP服务已成为未来发展的必然趋势，拥有手机支付习惯的消费群体日渐增长，Mo宝支付助力合作伙伴抢占市场先机。</p>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile3">
                <div class="desc">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="tab-logo lg3"></div>
                        </div>
                        <div class="col-md-10">
                            <p class="title">快捷支付</p>
                            <p>快捷支付是Mo宝支付与银行合作推出的快捷支付产品，用户将银行卡账户与Mo宝账户进行绑定后， 在支付时只需输入Mo宝账户名和支付密码即可完成支付。无需开通网银，只需绑定您的信用卡或者储蓄卡，每次支付时只需输入身份证末四位即可完成付款。 首次使用快捷支付交易，您只需输入银行卡必填信息并且同意快捷支付协议。 当您首次使用快捷支付交易成功后，系统将您的手机号作为您唯一身份标识，下次可使用手机号登录支付。</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title blue">产品特点</p>
                        </div>
                    </div>
                    <!--/* row1 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num1"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">安全、快捷，支付成功率高</p>
                            <p>用户支付无需网银跳转，只需输入Mo宝账户名和支付密码即可完成支付。简单的支付流程给用户更好的支付体验。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num2"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">开通和管理更方便</p>
                            <p>用户通过Mo宝支付网站在线进行快捷支付的开通和解除，通过Mo宝支付平台跳转到银行进行签约和解约，足不出户即可完成，免除去银行排队开通的成本。</p>
                        </div>
                    </div>
                    <!--/* row2 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num3"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">用户体验好，支持多种渠道支付</p>
                            <p>简单的支付流程，进入门槛低，使用方便。同时没有传统的网银跳转方式，可用在互联网、移动互联网、POS、手机客户端、IPTV等不同渠道的支付。</p>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile4">
                <div class="desc">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="tab-logo lg4"></div>
                        </div>
                        <div class="col-md-10">
                            <p class="title">信用卡支付</p>
                            <p>信用卡支付是Mo宝支付与银行的合作新推出的支付产品，解决商家与消费者非面对面交易的信用卡支付问题的产品。只需要客户提供信用卡卡号、有效期等信息，即可通过银行的直连接口完成支付。</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title blue">产品特点</p>
                        </div>
                    </div>
                    <!--/* row1 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num1"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">支付更方便快捷</p>
                            <p>客户只要填写信用卡卡号、有效期信息，即可方便的完成支付，无需开通网上银行。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num2"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">提升客户购买力</p>
                            <p>支持支持信用透支提前消费，支付限额是信用卡本身的限额，大大提高了客户的购买力。</p>
                        </div>
                    </div>
                    <!--/* row2 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num3"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">专业系统控制风险</p>
                            <p>业务选择上面需要选择实名制可以追索的业务，通过专业风险控制系统有效防范控制盗刷、恶意套现等，保证业务安全正常进行。</p>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile5">
                <div class="desc">
                    <div class="row">
                        <div class="col-md-2 hidden-xs hidden-sm">
                            <div class="tab-logo lg5"></div>
                        </div>
                        <div class="col-md-10">
                            <p class="title">B2B大额支付</p>
                            <p>用于企业之间（B2B）交易所涉及的大额资金收款、企业资金归集的支付产品，支持国内主要银行企业账户无限额支付、个人银行卡及信用卡大额支付，是Mo宝支付专为您大额交易收付款和资金运转提供方便、快捷、安全的大额资金收款服务。</p>
                        </div>
                    </div>
                </div>
                <div class="feature">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="title blue">产品特点</p>
                        </div>
                    </div>
                    <!--/* row1 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num1"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">真正大额支付</p>
                            <p>支持个人网银大额和企业网银无限额支付，最大满足B2B支付业务需求。</p>
                        </div>
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num2"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">方便后台管理</p>
                            <p>提供交易订单管理，账户流水查询，财务对账，交易退款等相关服务。</p>
                        </div>
                    </div>
                    <!--/* row2 */-->
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">
                            <div class="order-number num3"></div>
                        </div>
                        <div class="col-sm-5">
                            <p class="title blue small">专业接入支持</p>
                            <p>一对一专人负责技术接入支持，提供多种程序语言接入样例，接入方便快捷。</p>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- inject:js -->
    <script type="text/javascript" src="assets/js/lib.js"></script>
    <script type="text/javascript" src="assets/js/vendors.js"></script>
    <script type="text/javascript" src="assets/js/solution.js"></script>
    <!-- endinject -->
</body>
</html>