<!DOCTYPE html>
<html>
<body>

<!--/* 页脚 */-->
<footer data-th-fragment="footer">
    <div class="footer-content">
        <div class="nav menu menu-horizontal">
            <ul>
                <li><a href="#">关于Mo宝</a></li>
                <li>|</li>
                <li><a href="#">招聘英才</a></li>
                <li>|</li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <p>地址：成都市高新区益州大道中段1800号软件园G区4栋11楼</p>

        <div class="footer-line"></div>

        <p>© 2009-2016 <span ondblclick="javascript:window.location.href='http://new.cnzz.com/v1/login.php?siteid=1256424956'">摩宝网络</span>版权所有</p>
        <p>蜀ICP备: 11013060号 增值电信业务经营许可证：<a target="_blank" href="http://www.miit.cc/verifyseal/132656">川B2-20100113</a></p>
        <div class="icon-link">
            <div class="u-org">
                <a class="zfxk" title="支付许可证书" target="_blanks" href="https://www.mobaopay.com/views/paycert.jsp"></a>
                <a class="wsbj" title="网上报警" target="_blank" href="http://www.cdnet110.com/"></a>
                <a class="baxx" title="经营性网站备案信息" href="#"></a>
                <a class="yue" title="不良信息举报" href="http://net.china.com.cn/"></a>
                <a class="ssl" title="SSL安全网站签章" target="_blank" href="https://smarticon.geotrust.com/smarticonprofile?Referer=http://mobaopay.com"></a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>